@model List<KidKinder.Entities.Gallery>
@{
    ViewBag.Title = "GalleryList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                <div class="card">
                    <div class="card-header">
                        <h5>Galeri Tablosu</h5>
                        <span>Galeri ile ilgili işlemleri yapabileceğiniz alandır.</span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                             <div class="card-block table-border-style">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Görsel</th>
                                            <th>Başlık</th>
                                            <th>Durum</th>
                                            <th>Sil</th>
                                            <th>Güncelle</th>
                                            <th>Durum Güncelle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.GalleryId</td>
                                                <td>@item.ImageUrl</td>
                                                <td>@item.Title</td>
                                                <td>
                                                    @if (item.Status)
                                                    {
                                                        <span class="badge badge-success">Aktif</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-danger">Pasif</span>
                                                    }
                                                </td>
                                                <td><a href="/Gallery/DeleteImage/@item.GalleryId" class="btn btn-danger">Sil</a></td>
                                                <td><a href="/Gallery/UpdateImage/@item.GalleryId" class="btn btn-success">Güncelle</a></td>
                                                <td>
                                                    <form method="post" action="/Gallery/ChangeStatus/@item.GalleryId">
                                                        <button type="submit" class="btn btn-warning">
                                                            @if (item.Status)
                                                            {
                                                                <span>Pasif Yap</span>
                                                            }
                                                            else
                                                            {
                                                                <span>Aktif Yap</span>
                                                            }
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <a href="/Gallery/AddImage/" class="btn btn-primary">Yeni Görsel Ekle</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

