
@{
    
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml"; 

}
<!-- Header Start -->
    @Html.Action("ContactHeaderPartial", "Contact")
    <!-- Header End -->
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5">
                    <span class="px-2">Bağlantıda kalın</span>
                </p>
                <h1 class="mb-4">Bizimle iletişime geçin</h1>
            </div>
            <div class="row">
                <div class="col-lg-7 mb-5">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text"
                                       class="form-control"
                                       id="name"
                                       placeholder="İsim"
                                       required="required"
                                       data-validation-required-message="Lütfen isim yazınız..." />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email"
                                       class="form-control"
                                       id="email"
                                       placeholder="Eposta"
                                       required="required"
                                       data-validation-required-message="Lütfen eposta adresi yazınız..." />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text"
                                       class="form-control"
                                       id="subject"
                                       placeholder="Başlık"
                                       required="required"
                                       data-validation-required-message="Lütfen başlık yazınız..." />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control"
                                          rows="6"
                                          id="message"
                                          placeholder="Mesaj"
                                          required="required"
                                          data-validation-required-message="Lütfen bir mesaj yazınız..."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-primary py-2 px-4"
                                        type="submit"
                                        id="sendMessageButton">
                                    Mesajı Gönder
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                @Html.Action("ContactAdressPartial","Contact")
            </div>
        </div>
    </div>