@model KidKinder.Entities.ClassRoom
@{
    ViewBag.Title = "CreateClassRoom";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">

            <!-- Page body start -->
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Basic Form Inputs card start -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Yeni Sınıf Girişi</h5>
                                <span>Sınıf ile ilgili verileri eksiksiz olarak doldurunuz.</span>
                            </div>
                            <div class="card-block">
                                <form method="Post">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Sınıf Adı</label>
                                        <div class="col-sm-10">
                                            @Html.DropDownListFor(x => x.BranchId, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Açıklama</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Description" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Yaş Aralığı</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="AgeofKids " class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Kontenjan</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="TotalSeats " class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Saat Aralığı</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="ClassTime " class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Fiyat</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Price " class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Sınıf Görseli</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="ImageUrl " class="form-control">
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Sınıfı Ekle</button>
                                </form>
                            </div>
                        </div>
                        <!-- Basic Form Inputs card end -->
                    </div>
                </div>
            </div>
            <!-- Page body end -->
        </div>
    </div>
</div>

